<title> Owner | Profile</title>



<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        {{>owner-sidebar}}
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">



                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800">Profile</h1>

                    <div class="row">

                        <div class="col-lg-7">

                            <!-- Circle Buttons -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Details</h6>
                                </div>
                                <div class="message p-3">
                                    {{#if imagesucc}}
                                    <div class="alert alert-success" role="alert">
                                        {{imagesucc}}
                                    </div>
                                    {{/if}}
                                    {{#if imgerror}}
                                    <div class="alert alert-danger" role="alert">
                                        {{imgerror}}
                                    </div>
                                </div>
                                {{/if}}
                                <form action="/owner/profile/{{response._id}}" class="text-center" id="submit-form" method="post" >
                                    <div class="card-body">
                                        <div class="form-group mt-3 col-md-12">
                                            <label for="photo">Profile Photo</label><br>
                                            <img src="/owner-photo/{{response._id}}.jpg" class="mt-2" id="imgView"
                                                style=" border-radius: 125px;" width="150px" height="150px"
                                                alt="Photo ">
                                            <a href="/owner/edit-photo" style="background-color: #1cc8b0;  border-radius: 26px;margin-left: -33px;margin-bottom: -54px;"
                                                class="far fa-edit  btn btn-success  mt-3 mr-2 "></a>
                                        </div>
                                       
                                        <div class="form-group mt-3 col-md-12">
                                            <label for="theatername">Theater Name</label>
                                            <input style="border-color:#b4e3eb;" type="text"
                                                class="form-control col-md-12 mt-2" id="theatername" name="theatername"
                                               value="{{response.theatername}}"  required>
                                        </div>
                                        <div class="form-group mt-3 col-md-12">
                                            <label for="email">Email</label>
                                            <input style="border-color:#b4e3eb;" type="email"
                                                class="form-control col-md-12 mt-2" id="email" name="email"
                                                value="{{response.email}}" required>
                                        </div>
                                        <div class="form-group mt-3 col-md-12">
                                            <label for="phonenumber">Phone Number</label>
                                            <input style="border-color:#b4e3eb;" type="text"
                                                class="form-control col-md-12 mt-2" id="phonenumber" name="phonenumber"
                                                value="{{response.phonenumber}}"  required>
                                        </div>
                                        <center><a href="/owner/profile"
                                                class="btn btn-danger  mt-3 mr-2 ">Back</a>
                                            <button type="submit" id="submit"
                                                class="btn btn-success  mt-3">Submit</button></center>
                                    </div>
                                </form>
                            </div>



                        </div>

                    </div>
                </div>
            </div>
        </div>

</body>

<script>
    function viewImage(event){
        document.getElementById('imgView').src=URL.createObjectURL(event.target.files[0])
    }
</script>