
<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="zxx">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title> Movie booking | About</title>
	<!-- Template CSS -->
	<link rel="stylesheet" href="/user/css/style-starter.css">
	<!-- Template CSS -->
	<link href="//fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,600&display=swap"
		rel="stylesheet">
	<!-- Template CSS -->
</head>

<body>
		<!-- header -->
		{{>user-header}}
		<!-- //header -->
	<!--/breadcrumbs -->
	<div class="w3l-breadcrumbs">
		<nav id="breadcrumbs" class="breadcrumbs">
			<div class="container page-wrapper">
			<a href="/">Home</a> » <span class="breadcrumb_last" aria-current="page">About</span>
			</div>
		</nav>
	</div>
 <!--//breadcrumbs -->
	<!-- /about-->
	<div class="w3l-ab-grids py-5">
		<div class="container py-lg-4">
			<div class="row ab-grids-sec align-items-center">
				<div class="col-lg-6 ab-right">
					<img class="img-fluid" src="/user/images/banner1.jpg">
				</div>
				<div class="col-lg-6 ab-left pl-lg-4 mt-lg-0 mt-5">
					<h3 class="hny-title">Great Entertainment</h3>
					<p class="mt-3">WE ARE MOVIE BUFFS</p>
					<div class="ready-more mt-4">
						<a href="#" class="btn read-button">Read More <span class="fa fa-angle-double-right ml-2" aria-hidden="true"></span></a>
					</div>
				</div>
			</div>
		   
			<div class="w3l-counter-stats-info text-center">
				<div class="stats_left">
					<div class="counter_grid">
						<div class="icon_info">
							<p class="counter">{{details.moviecount}}</p>
							<h4>Movies</h4>

						</div>
					</div>
				</div>
				<div class="stats_left">
					<div class="counter_grid">
						<div class="icon_info">
							<p class="counter">{{details.showcount}}</p>
							<h4>Shows</h4>

						</div>
					</div>
				</div>
				<div class="stats_left">
					<div class="counter_grid">
						<div class="icon_info">
							<p class="counter">{{details.userscount}}</p>
							<h4>Members</h4>

						</div>
					</div>
				</div>
				<div class="stats_left">
					<div class="counter_grid">
						<div class="icon_info">
							<p class="counter">{{details.bookingcount}}</p>
							<h4>Bookings</h4>

						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<!-- //about-->
		<!--grids-sec1-->
		<section class="w3l-team" id="team">
			<div class="grids-main py-5">
				<div class="container py-lg-4">
					<div class="headerhny-title">
						<h3 class="hny-title">Our Actors</h3>
					</div>
					<div class="owl-team owl-carousel owl-theme">
						<div class="item vhny-grid">
							<div class="d-grid team-info">
								<div class="column position-relative">
									<a href="#url"><img src="/user/images/a1.jpg" alt="" class="img-fluid rounded team-image" /></a>
								</div>
								<div class="column text-center">
									<h3 class="name-pos"><a href="#url">Dwayne johnson</a></h3>
									
									<div class="social">
										<a href="#facebook" class="facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
										<a href="#twitter" class="twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
										<a href="#linkedin" class="linkedin"><span class="fa fa-linkedin" aria-hidden="true"></span></a>
									</div>
								</div>
							</div>
	
						</div>
						<div class="item vhny-grid">
							<div class="box16">
								<div class="d-grid team-info">
									<div class="column position-relative">
										<a href="#url"><img src="/user/images/a2.jpg" alt="" class="img-fluid rounded team-image" /></a>
									</div>
									<div class="column text-center">
										<h3 class="name-pos"><a href="#url">Karen Gillan</a></h3>
										
										<div class="social">
											<a href="#facebook" class="facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
											<a href="#twitter" class="twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
											<a href="#linkedin" class="linkedin"><span class="fa fa-linkedin" aria-hidden="true"></span></a>
										</div>
									</div>
								</div>
							</div>
	
						</div>
						<div class="item vhny-grid">
							<div class="box16">
								<div class="d-grid team-info">
									<div class="column position-relative">
										<a href="#url"><img src="/user/images/a3.jpg" alt="" class="img-fluid rounded team-image" /></a>
									</div>
									<div class="column text-center">
										<h3 class="name-pos"><a href="#url">Chris Hemsworth</a></h3>
										
										<div class="social">
											<a href="#facebook" class="facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
											<a href="#twitter" class="twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
											<a href="#linkedin" class="linkedin"><span class="fa fa-linkedin" aria-hidden="true"></span></a>
										</div>
									</div>
								</div>
							</div>
	
						</div>
						<div class="item vhny-grid">
							<div class="box16">
								<div class="d-grid team-info">
									<div class="column position-relative">
										<a href="#url"><img src="/user/images/a4.jpg" alt="" class="img-fluid rounded team-image" /></a>
									</div>
									<div class="column text-center">
										<h3 class="name-pos"><a href="#url">Elton John</a></h3>
									
										<div class="social">
											<a href="#facebook" class="facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
											<a href="#twitter" class="twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
											<a href="#linkedin" class="linkedin"><span class="fa fa-linkedin" aria-hidden="true"></span></a>
										</div>
									</div>
								</div>
							</div>
	
						</div>
						<div class="item vhny-grid">
							<div class="box16">
								<div class="d-grid team-info">
									<div class="column position-relative">
										<a href="#url"><img src="/user/images/a5.jpg" alt="" class="img-fluid rounded team-image" /></a>
									</div>
									<div class="column text-center">
										<h3 class="name-pos"><a href="#url">Liu Yifei</a></h3>
										<div class="social">
											<a href="#facebook" class="facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
											<a href="#twitter" class="twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
											<a href="#linkedin" class="linkedin"><span class="fa fa-linkedin" aria-hidden="true"></span></a>
										</div>
									</div>
								</div>
							</div>
	
						</div>
						<div class="item vhny-grid">
							<div class="box16">
								<div class="d-grid team-info">
									<div class="column position-relative">
										<a href="#url"><img src="/user/images/a3.jpg" alt="" class="img-fluid rounded team-image" /></a>
									</div>
									<div class="column text-center">
										<h3 class="name-pos"><a href="#url">Chris Hemsworth</a></h3>
										
										<div class="social">
											<a href="#facebook" class="facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
											<a href="#twitter" class="twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
											<a href="#linkedin" class="linkedin"><span class="fa fa-linkedin" aria-hidden="true"></span></a>
										</div>
									</div>
								</div>
							</div>
	
						</div>
					</div>
				</div>
	
		
	
			</div>
		</section>
		<!--//grids-sec1-->
		<!--/testimonials-->
<section class="w3l-clients" id="clients">
    <!-- /grids -->
    <div class="cusrtomer-layout py-5">
        <div class="container py-lg-4">
			<div class="headerhny-title">
				<h3 class="hny-title">Our Testimonials</h3>
			</div>
            <!-- /grids -->
            <div class="testimonial-width">
                <div class="owl-clients owl-carousel owl-theme mb-lg-5">
                    <div class="item">
                        <div class="testimonial-content">
                            <div class="testimonial">
                                <blockquote>
                                    <q>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit beatae laudantium
                                        voluptate rem ullam dolore!.</q>
                                </blockquote>
                                <div class="testi-des">
                                    <div class="test-img"><img src="/user/images/team1.jpg" class="img-fluid" alt="/">
                                    </div>
                                    <div class="peopl align-self">
                                        <h3>Johnson smith</h3>
                                        <p class="indentity">Washington</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-content">
                            <div class="testimonial">
                                <blockquote>
									<q>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit beatae laudantium
                                        voluptate rem ullam dolore!.</q>
                                </blockquote>
                                <div class="testi-des">
                                    <div class="test-img"><img src="/user/images/team2.jpg" class="img-fluid" alt="/">
                                    </div>
                                    <div class="peopl align-self">
                                        <h3>Alexander leo</h3>
                                        <p class="indentity">Washington</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-content">
                            <div class="testimonial">
                                <blockquote>
                                    <q>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit beatae laudantium
                                        voluptate rem ullam dolore!.</q>
                                </blockquote>
                                <div class="testi-des">
                                    <div class="test-img"><img src="/user/images/team3.jpg" class="img-fluid" alt="/">
                                    </div>
                                    <div class="peopl align-self">
                                        <h3>Roy Linderson</h3>
                                        <p class="indentity">Washington</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-content">
                            <div class="testimonial">
                                <blockquote>
                                    <q>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit beatae laudantium
                                        voluptate rem ullam dolore!.</q>
                                </blockquote>
                                <div class="testi-des">
                                    <div class="test-img"><img src="/user/images/team4.jpg" class="img-fluid" alt="/">
                                    </div>
                                    <div class="peopl align-self">
                                        <h3>Mike Thyson</h3>
                                        <p class="indentity">Washington</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-content">
                            <div class="testimonial">
                                <blockquote>
									<q>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit beatae laudantium
                                        voluptate rem ullam dolore!.</q>
                                </blockquote>
                                <div class="testi-des">
                                    <div class="test-img"><img src="/user/images/team2.jpg" class="img-fluid" alt="/">
                                    </div>
                                    <div class="peopl align-self">
                                        <h3>Laura gill</h3>
                                        <p class="indentity">Washington</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-content">
                            <div class="testimonial">
                                <blockquote>
									<q>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit beatae laudantium
                                        voluptate rem ullam dolore!.</q>
                                </blockquote>
                                <div class="testi-des">
                                    <div class="test-img"><img src="/user/images/team3.jpg" class="img-fluid" alt="/">
                                    </div>
                                    <div class="peopl align-self">
                                        <h3>Smith Johnson</h3>
                                        <p class="indentity">Washington</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /grids -->
    </div>
    <!-- //grids -->
</section>
<!--//testimonials-->
		<!--grids-sec2-->
		<section class="w3l-grids">
			<div class="grids-main py-5">
				<div class="container py-lg-4">
					<div class="headerhny-title">
						<div class="w3l-title-grids">
							<div class="headerhny-left">
								<h3 class="hny-title">New Releases</h3>
							</div>
							<div class="headerhny-right text-lg-right">
								<h4><a class="show-title" href="genre.html">Show all</a></h4>
							</div>
						</div>
					</div>
					<div class="owl-three owl-carousel owl-theme">
						{{#each movies}}
						<div class="item vhny-grid">
							<div class="box16">
								<a href="/details/{{this._id}}">
									<figure>
										<img  class="img-fluid" src="/movie-images/{{this._id}}.jpg" alt="">
									</figure>
									<div class="box-content">
										<h4> <span class="post"><span class="fa fa-clock-o"> </span> {{this.hour}} Hr {{this.minute}}min
	
											</span>
	
											<span class="post fa fa-heart text-right"></span>
										</h4>
									</div>

								</a>
							</div>
							<h3> <a class="title-gd" href="">{{this.movietitle}}</a></h3>
							
	
						</div>
						{{/each}}
						
					</div>
				</div>
	
			</div>
		</section>
		<!--grids-sec2-->
	<!-- footer-66 -->
	{{>user-footer}}
	<!--//footer-66 -->
</body>

</html>
<script src="/user/js/jquery-3.3.1.min.js"></script>
<!-- stats -->
<script src="/user/js/jquery.waypoints.min.js"></script>
<script src="/user/js/jquery.countup.js"></script>
<script>
	$('.counter').countUp();
</script>
<!-- //stats -->
<!--/theme-change-->
<script src="/user/js/theme-change.js"></script>
<!-- //theme-change-->
<script src="/user/js/owl.carousel.js"></script>
<!-- script for banner slider-->
<script>
	$(document).ready(function () {
		$('.owl-team').owlCarousel({
			loop: true,
			margin: 20,
			nav: false,
			responsiveClass: true,
			autoplay: false,
			autoplayTimeout: 5000,
			autoplaySpeed: 1000,
			autoplayHoverPause: false,
			responsive: {
				0: {
					items:2,
					nav: false
				},
				480: {
					items: 2,
					nav: true
				},
				667: {
					items: 3,
					nav: true
				},
				1000: {
					items:4,
					nav: true
				}
			}
		})
	})
</script>
<script>
	$(document).ready(function () {
		$('.owl-three').owlCarousel({
			loop: true,
			margin: 20,
			nav: false,
			responsiveClass: true,
			autoplay:true,
			autoplayTimeout: 5000,
			autoplaySpeed: 1000,
			autoplayHoverPause: false,
			responsive: {
				0: {
					items: 2,
					nav: false
				},
				480: {
					items: 2,
					nav: true
				},
				667: {
					items: 3,
					nav: true
				},
				1000: {
					items: 6,
					nav: true
				}
			}
		})
	})
</script>
<!-- //script -->
<!-- for tesimonials carousel slider -->
<script>
	$(document).ready(function () {
		$(".owl-clients").owlCarousel({
			loop: true,
			margin:40,
			responsiveClass: true,
			responsive: {
				0: {
					items:1,
					nav: true
				},
				736: {
					items: 2,
					nav: false
				},
				1000: {
					items:3,
					nav: true,
					loop: false
				}
			}
		})
	})
</script>
<!-- //script -->
<!-- script for owlcarousel -->
<!-- disable body scroll which navbar is in active -->
<script>
	$(function () {
		$('.navbar-toggler').click(function () {
			$('body').toggleClass('noscroll');
		})
	});
</script>
<!-- disable body scroll which navbar is in active -->

<!--/MENU-JS-->
<script>
	$(window).on("scroll", function () {
		var scroll = $(window).scrollTop();

		if (scroll >= 80) {
			$("#site-header").addClass("nav-fixed");
		} else {
			$("#site-header").removeClass("nav-fixed");
		}
	});

	//Main navigation Active Class Add Remove
	$(".navbar-toggler").on("click", function () {
		$("header").toggleClass("active");
	});
	$(document).on("ready", function () {
		if ($(window).width() > 991) {
			$("header").removeClass("active");
		}
		$(window).on("resize", function () {
			if ($(window).width() > 991) {
				$("header").removeClass("active");
			}
		});
	});
</script>
<!--//MENU-JS-->
<script src="/user/js/bootstrap.min.js"></script>