<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="zxx">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ProShowz a Entertainment Category Bootstrap Responsive Website Template | Contact
        :: W3layouts</title>
    <!-- Template CSS -->
    <link rel="stylesheet" href="/user/css/style-starter.css">
    <!-- Template CSS -->
    <link href="//fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,600&display=swap"
        rel="stylesheet">
    <!-- Template CSS -->
</head>

<body>
    <!-- header -->
    {{>user-header}}
    <!-- //header -->
    <!--/breadcrumbs -->
    <div class="w3l-breadcrumbs">
        <nav id="breadcrumbs" class="breadcrumbs">
            <div class="container page-wrapper">
                <a href="index.html">Home</a> » <span class="breadcrumb_last" aria-current="page">Contact</span>
            </div>
        </nav>
    </div>
    <!--//breadcrumbs -->
    <!-- contact1 -->
    <section class="w3l-contact-1">
        <div class="contacts-9 py-5">
            <div class="container py-lg-4">
                <div class="headerhny-title text-center">
                   
                    <h3 class="hny-title mb-0">All bookings</h3>
                    
                </div>
                <div class="contact-view mt-lg-5 mt-4">
                    <div class="conhny-form-section">

                         {{#each allbookings}}
                        <div class="form-input mt-4">
                            <div class="row contact-info">

                                <div >
                                    
                                    <img id="optionalstuff" src="/movie-images/{{this.show.movieId}}.jpg">
                                </div>
                                <div class="contact-details">
                                    <h4 style="color: #df0e62;">{{this.theater.theatername}}</h4>
                                    <h5 style="color: #619bb0b5;" >Movie: {{this.show.movietitle}} </h5><hr style="background-color: var(--theme-title);">
                                    <h5>Booked Date: </h5>
                                    <h3 style="float: right;">Price: {{this.price}}</h3>
                                    
                                    <h5 class="mt-1" >Show Date:{{this.show.date}} Show Time: {{this.show.time}} {{this.show.timeperiod}}</h5>
                                    <p>Screen: {{this.screen.screenname}} </p>
                                    <hr style="background-color: var(--theme-title);">
                                    <h4>Seat No</h4>
                                   {{#each this.seats}}
                                    
                                    <h3 style="float: left;">{{this.seatName}},</h3>

                                    {{/each}}
                                </div>
                            </div>
                        </div>
                        {{/each}}
                        

                    </div>

                    <style>
                        @media (max-width:629px) {
  img#optionalstuff {
    display: none;
  }
}
                    </style>
                    <div class="d-grid contact-addres-inf mt-5 pt-lg-4">
                        <div class="contact-info-left d-grid">
                            <div class="contact-info">
                                <div class="icon">
                                    <span class="fa fa-location-arrow" aria-hidden="true"></span>
                                </div>
                                <div class="contact-details">
                                    <h4>Address:</h4>
                                    <p>Lorem dolor sit, New York, USA</p>
                                </div>
                            </div>
                            <div class="contact-info">
                                <div class="icon">
                                    <span class="fa fa-phone" aria-hidden="true"></span>
                                </div>
                                <div class="contact-details">
                                    <h4>Phone:</h4>
                                    <p><a href="tel:+598-658-456">+598-658-346</a></p>
                                    <p><a href="tel:+598-658-457">+598-658-436</a></p>
                                </div>
                            </div>
                            <div class="contact-info">
                                <div class="icon">
                                    <span class="fa fa-envelope-open-o" aria-hidden="true"></span>
                                </div>
                                <div class="contact-details">
                                    <h4>Mail:</h4>
                                    <p><a href="mailto:mail@example.com" class="email">info@proshowz.com</a></p>
                                    <p><a href="mailto:mail@example.com" class="email">proshowz@support.com</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contact-map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387193.305935303!2d-74.25986548248684!3d40.69714941932609!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY%2C+USA!5e0!3m2!1sen!2sin!4v1563262564932!5m2!1sen!2sin"
                style="border:0" allowfullscreen=""></iframe>
        </div>
    </section>
    <!-- /contact1 -->
    <!-- footer-66 -->
    {{>user-footer}}
    <!--//footer-66 -->
</body>

</html>
<script src="assets/js/jquery-3.3.1.min.js"></script>
<!-- Template JavaScript -->
<!--/theme-change-->
<script src="assets/js/theme-change.js"></script>
<!-- //theme-change-->
<!-- disable body scroll which navbar is in active -->
<script>
    $(function () {
        $('.navbar-toggler').click(function () {
            $('body').toggleClass('noscroll');
        })
    });
</script>
<!-- disable body scroll which navbar is in active -->
<!--/MENU-JS-->
<script>
    $(window).on("scroll", function () {
        var scroll = $(window).scrollTop();

        if (scroll >= 80) {
            $("#site-header").addClass("nav-fixed");
        } else {
            $("#site-header").removeClass("nav-fixed");
        }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
        $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
        if ($(window).width() > 991) {
            $("header").removeClass("active");
        }
        $(window).on("resize", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
        });
    });
</script>
<!--//MENU-JS-->
<script src="assets/js/bootstrap.min.js"></script>