<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="zxx">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> Moviebooking | My bookings</title>
    <!-- Template CSS -->
    <link rel="stylesheet" href="/user/css/style-starter.css">
    <!-- Template CSS -->
    <link href="//fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,600&display=swap"
        rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Template CSS -->
</head>

<body>
    <!-- header -->
    {{>user-header}}
    <!-- //header -->
    <!--/breadcrumbs -->
    <div class="w3l-breadcrumbs">
        <nav id="breadcrumbs" class="breadcrumbs">
            <div class="container page-wrapper mt-2">
                <a href="/">Home</a> » <span class="breadcrumb_last" aria-current="page">Bookings</span>
            </div>
        </nav>
    </div>
    <!--//breadcrumbs -->
    <!-- contact1 -->
    <section class="w3l-contact-1">
        <div class="contacts-9 py-5">
            <div class="container py-lg-4">
                <div class="headerhny-title text-center">

                    <h3 class="hny-title mb-0">All bookings</h3>

                </div> 
                <h4 class="ml-3 m-2 text-center">Upcoming</h4>
                <div class="contact-view mt-lg-5 mt-4">
                    <div class="conhny-form-section">

                        {{#each allbookings}}
                        <div class="form-input mt-4">
                            <p>{{this.date}}</p>
                            <div class="row contact-info">

                                <a href="/details/{{this.movieId}}">
                                    <div>
                                        <img id="optionalstuff" style="height: 269px;width: 181px;"
                                            src="/movie-images/{{this.movieId}}.jpg">
                                    </div>
                                </a>
                                <div class="contact-details">
                                    <h4 style="color: #df0e62;">{{this.theater.theatername}}</h4>
                                    <h5 style="color: #619bb0b5;">Movie: {{this.movietitle}} </h5>
                                    <hr style="background-color: var(--theme-title);">
                                    {{!-- <h5>Booked Date: {{this.date}} </h5> --}}
                                    <h3 style="float: right;">Price: {{this.price}}</h3>


                                    <h4 class="mt-1">Date: {{this.showdate}}</h4>

                                    <h4>Time: {{this.time}} {{this.show.timeperiod}}</h4>

                                    {{#if this.status}}
                                    <h4 style="float: right; color: green;">Paid</h4>
                                    {{else}}
                                    <h4 style="float: right; color: red;">Pending</h4>
                                    {{/if}}

                                    <p>Screen: {{this.screenname}} </p>
                                    <hr style="background-color: var(--theme-title);">
                                    <h4>Seat No</h4>
                                    {{#each this.seats}}

                                    <h3 style="float: left;">{{this.seatName}},</h3>

                                    {{/each}}
                                    {{#if this.status}}
                                    {{else}}
                                    <a style="float: right;     background-color: #2781f1;border-color: #2781f1;color: white;"
                                        class="btn btn-primary" type="button" onclick="a('{{this._id}}')">Pay</a>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                        {{/each}}


                    </div>
                    <h4 class="ml-3 m-5 text-center">Booking history</h4>
                    <div class="conhny-form-section">

                        {{#each bookinghistory}}
                        <div class="form-input mt-4">
                            <p>{{this.date}}</p>
                            <div class="row contact-info">

                                <a href="/details/{{this.movieId}}">
                                    <div>
                                        <img id="optionalstuff" style="height: 269px;width: 181px;"
                                            src="/movie-images/{{this.movieId}}.jpg">
                                    </div>
                                </a>
                                <div class="contact-details">
                                    <h4 style="color: #df0e62;">{{this.theater.theatername}}</h4>
                                    <h5 style="color: #619bb0b5;">Movie: {{this.movietitle}} </h5>
                                    <hr style="background-color: var(--theme-title);">
                                    {{!-- <h5>Booked Date: {{this.date}} </h5> --}}
                                    <h3 style="float: right;">Price: {{this.price}}</h3>


                                    <h4 class="mt-1">Date: {{this.showdate}}</h4>

                                    <h4>Time: {{this.time}} {{this.show.timeperiod}}</h4>

                                    {{#if this.status}}
                                    <h4 style="float: right; color: green;">Paid</h4>
                                    {{else}}
                                    <h4 style="float: right; color: red;">Not Paid</h4>
                                    {{/if}}

                                    <p>Screen: {{this.screenname}} </p>
                                    <hr style="background-color: var(--theme-title);">
                                    <h4>Seat No</h4>
                                    {{#each this.seats}}

                                    <h3 style="float: left;">{{this.seatName}},</h3>

                                    {{/each}}
                                    
                                </div>
                            </div>
                        </div>
                        {{/each}}


                    </div>

                    <style>
                        @media (max-width:629px) {
                            img#optionalstuff {
                                display: none;
                            }
                        }
                    </style>

    </section>
    <!-- /contact1 -->
    <!-- footer-66 -->
    {{>user-footer}}
    <!--//footer-66 -->
</body>

</html>
<script src="/user/js/jquery-3.3.1.min.js"></script>
<!-- Template JavaScript -->

<!-- disable body scroll which navbar is in active -->
<script>
    $(function () {
        $('.navbar-toggler').click(function () {
            $('body').toggleClass('noscroll');
        })
    });
</script>
<!-- disable body scroll which navbar is in active -->
<!--/MENU-JS-->
<script>
    $(window).on("scroll", function () {
        var scroll = $(window).scrollTop();

        if (scroll >= 80) {
            $("#site-header").addClass("nav-fixed");
        } else {
            $("#site-header").removeClass("nav-fixed");
        }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
        $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
        if ($(window).width() > 991) {
            $("header").removeClass("active");
        }
        $(window).on("resize", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
        });
    });
</script>


<script>
    function a(orderId) {
        $.ajax({
            url: '/pending-order',
            method: 'post',
            data: { orderId: orderId },
            success: (response) => {
                if (response) {
                    razorpayPayment(response)
                } else {
                    location.href = "/"
                }

            }
        })
    }



    function razorpayPayment(order) {
    var options = {
      "key": "rzp_test_deE2E1795zFmxy", // Enter the Key ID generated from the Dashboard
      "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
      "currency": "INR",
      "name": "Dream",
      "description": "Test Transaction",
      "image": "https://example.com/your_logo",
      "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
      "handler": function (response) {


        verifyPayment(response, order)
      },
      "prefill": {
        "name": "Gaurav Kumar",
        "email": "gaurav.kumar@example.com",
        "contact": "9999999999"
      },
      "notes": {
        "address": "Razorpay Corporate Office"
      },
      "theme": {
        "color": "#F37254"
      }
    };
    var rzp1 = new Razorpay(options);
    rzp1.open();
  }

  function verifyPayment(payment, order) {
    $.ajax({
      url: '/verify-payment',
      data: {
        payment,
        order
      },
      method: 'post',
      success: (response) => {
        if (response.status) {
          location.href = "/order-success"
        } else {
          alert('Payment Failed')
        }
      }
    })
  }



  function b() {
    $.ajax({
      url: '/paypal',
      method: 'post',

      success: (response) => {
        alert(response)
        location.href = response
      }
    })
  }




</script>
<script src="/user/js/jquery-1.9.1.min.js"></script>
<!--//MENU-JS-->