<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="zxx">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Book my show | Time</title>
    <!-- Template CSS -->
    <link rel="stylesheet" href="/user/css/style-starter.css">
    <!-- Template CSS -->
    <link href="//fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,600&display=swap"
        rel="stylesheet">
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.css' rel='stylesheet' />
    <script
        src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.js"></script>
    <link rel="stylesheet"
        href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.css"
        type="text/css" />
    <!-- Template CSS -->
</head>

<body>
    <!-- header -->
    {{>user-header}}
    <!-- //header -->
    <!--/breadcrumbs -->
    <div class="w3l-breadcrumbs">
        <nav id="breadcrumbs" class="breadcrumbs">
            <div class="container page-wrapper">
                <a href="/">Home</a> » <span class="breadcrumb_last" aria-current="page">Time</span>
            </div>
        </nav>
    </div>
    <!--//breadcrumbs -->
    <h3 class="text-center mt-4">{{movietitle}}</h3>
    {{!-- Time --}}
    {{#if data}}
    <section style="    padding: 29px;" class="w3l-contact-1">
        <div class="contacts-9 py-5">
            <div class="d-grid contact-addres-inf mt-5 pt-lg-4">
                <div class="m-3 contact-info-left d-grid">
                    {{#each timeList}}
                    <div class="col-md-12 contact-info">
                        <div class="contact-details">
                            <h4>Theater Name: {{this.theater.theatername}} </h4>
                             <p style="float: right;"> Date :{{this.date}}</p>
                            <p>Screen : {{this.screen.screenname}}  </p>
                           
                            
                        </div>
                        <br>

                        <div class="row p-2">
                            {{#if this.status}}
                            <div class="boxs col-md-12 col-lg-6">
                                <a href="/seat-layout/{{this.screenId}},{{this._id}}"
                                    class=" colorss text-success m-1 btn btn-success text-ligt">{{this.time}} {{this.timeperiod}}</a>
                            </div>
                            {{else}}
                            <div class="boxs col-md-12 col-lg-6">
                                <a 
                                    class=" colorss text-success m-1 btn btn-success text-ligt">Comming Soon</a>
                            </div>
                            {{/if}}


                            {{!-- <div class="boxs col-md-12 col-lg-6">
                                <a class="colorss text-success m-1 btn btn-success text-ligt">dfs</a>
                            </div>
                            <div class="boxs col-md-12 col-lg-6">
                                <a class="colorss text-success m-1 btn btn-success text-ligt">dfs</a>
                            </div>
                            <div class="boxs col-md-12 col-lg-6">
                                <a class="colorss text-success m-1 btn btn-success text-ligt">dfs</a>
                            </div> --}}
                        </div>
                        <hr>
                        <div class="row">
                        <div class="distance ml-4">
                            <p style="color: #1782ce;" >Distance: <span id="distance"></span> km</p>
                        </div>
                        <div class="duration ml-3">
                            <p style="color: #1782ce;" >Duration: <span id="duration"></span> minutes</p>
                        </div>
                        </div>
                    </div>
                    <script>
                        mapboxgl.accessToken = 'pk.eyJ1IjoiY2xldmlubSIsImEiOiJja2o5d3VuamIxYnRtMnVtdDE0bGZpMmMyIn0.e-nFCYz07lSLxudc3VPbwA';
                        // make a directions request
                        var a=""+{{this.longitude}}+","
                        var b=""+{{this.latitude}}+";"
                        var c=""+{{this.theater.longitude}}+","
                        var d=""+{{this.theater.latitude}}
                            var url = 'https://api.mapbox.com/directions/v5/mapbox/driving/' + a+b+c+d
                                + '?geometries=geojson&steps=true&access_token=' + mapboxgl.accessToken;
                            var req = new XMLHttpRequest();
                            req.responseType = 'json';
                            req.open('GET', url, true);
                            req.onload = function () {
                                var jsonResponse = req.response;
                                var distance = jsonResponse.routes[0].distance * 0.001;
                                var duration = jsonResponse.routes[0].duration / 60;
                                var steps = jsonResponse.routes[0].legs[0].steps;
                                var coords = jsonResponse.routes[0].geometry;
                                //  console.log(steps);
                                console.log(coords);
                                document.getElementById('distance').innerHTML = parseInt(distance)
                                document.getElementById('duration').innerHTML = parseInt(duration)
                                console.log(distance);
                                // console.log(duration);

                                // get route directions on load map
                                steps.forEach(function (step) {
                                    instructions.insertAdjacentHTML('beforeend', '<p>' + step.maneuver.instruction + '</p>');
                                });
                                // get distance and duration
                                instructions.insertAdjacentHTML('beforeend', '<p>' + 'Distance: ' + distance.toFixed(2) + ' km<br>Duration: ' + duration.toFixed(2) + ' minutes' + '</p>');
                                // add the route to the map
                                addRoute(coords);
                                //  console.log(coordinates);

                            };
                            req.send();
                    
                    </script>
                    {{/each}}



                </div>
            </div>
        </div>
        </div>
        </div>
    </section>
    {{else}}
    
    <center><h1 class="m-5">No records</h1></center>
    {{/if}}

    <!-- /contact1 -->
    <!-- footer-66 -->
    {{>user-footer}}
    <!-- copyright -->
    <!-- move top -->
    <button onclick="topFunction()" id="movetop" title="Go to top">
        <span class="fa fa-arrow-up" aria-hidden="true"></span>
    </button>
    <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("movetop").style.display = "block";
            } else {
                document.getElementById("movetop").style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
    <!-- /move top -->

    </section>
    </footer>
    <!--//footer-66 -->
</body>

</html>
<script src="/user/js/jquery-3.3.1.min.js"></script>
<!-- Template JavaScript -->
<!--/theme-change-->
<script src="/user/js/theme-change.js"></script>
<!-- //theme-change-->
<!-- disable body scroll which navbar is in active -->
<script>
    $(function () {
        $('.navbar-toggler').click(function () {
            $('body').toggleClass('noscroll');
        })
    });
</script>
<!-- disable body scroll which navbar is in active -->
<!--/MENU-JS-->
<script>
    $(window).on("scroll", function () {
        var scroll = $(window).scrollTop();

        if (scroll >= 80) {
            $("#site-header").addClass("nav-fixed");
        } else {
            $("#site-header").removeClass("nav-fixed");
        }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
        $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
        if ($(window).width() > 991) {
            $("header").removeClass("active");
        }
        $(window).on("resize", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
        });
    });
</script>
<!--//MENU-JS-->
<script src="/user/js/bootstrap.min.js"></script>

<style>
    .colorss {
        border-color: var(--theme-title);
        background-color: var(--theme-bg);
        color: green
    }

    .boxs {
        border-spacing: 15px;
    }
</style>
