<!--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Movie Seat Selection Flat Responsive Widget Template :: w3layouts</title>
    <!-- Meta-Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords"
        content="Movie Seat Selection a Responsive Web Template, Bootstrap Web Templates, Flat Web Templates, Android Compatible Web Template, Smartphone Compatible Web Template, Free Webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design">
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //Meta-Tags -->
    <!-- Index-Page-CSS -->
    <link rel="stylesheet" href="/seat/css/style.css" type="text/css" media="all">
    <!-- //Custom-Stylesheet-Links -->
    <!--fonts -->
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i"
        rel="stylesheet">
    <!-- //fonts -->
</head>
{{>user-header}}

<body onload="onLoadderFunc()">
    <h1>Movie Seat Selection</h1>
    <div class="container">

        <div class="w3ls-reg">
           
            <!-- seat availabilty list -->
            <ul class="seat_w3ls">
                <li class="smallBox greenBox">Selected Seat</li>

                <li class="smallBox redBox">Reserved Seat</li>

                <li class="smallBox emptyBox">Empty Seat</li>
            </ul>
            <!-- seat availabilty list -->
            <!-- seat layout -->
            <div class="seatStructure txt-center" style="overflow-x:auto;">
                <form action="/book-seats" method="POST">
                <table id="seatsBlock">
                    <p id="notification"></p>
                    <tr>
                        <td></td>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                        <td></td>
                        <td>6</td>
                        <td>7</td>
                        <td>8</td>
                        <td>9</td>
                        <td>10</td>
                        <td>11</td>
                        <td>12</td>
                    </tr>

                    {{!-- creating seats according to row and columns --}}
                    <script>

                        //generate alphabets
                        function toLetters(num) {
                            "use strict";
                            var mod = num % 26,
                                pow = num / 26 | 0,
                                out = mod ? String.fromCharCode(64 + mod) : (--pow, 'Z');
                            return pow ? toLetters(pow) + out : out;
                        }

                        //create rows
                        function myFunctions() {
                            var count = 0
                            for (var j = 1; j <= {{screenDetails.rows}}; j++) {

                                //set heading for rows
                                if (j == 1) {
                                    var vip = document.createElement("TR");

                                    vip.setAttribute("id", "vip");
                                    vip.className = "text-center";
                                    document.getElementById("seatsBlock").appendChild(vip);
                                    $('#vip').html("VIP");
                                } else if (j == {{screenDetails.viprow}}+1) {
                                    var premium = document.createElement("TR");

                                    premium.setAttribute("id", "premium");
                                    premium.className = "text-center";
                                    document.getElementById("seatsBlock").appendChild(premium);
                                    $('#premium').html("PREMIUM");
                                } else if (j == {{screenDetails.viprow}}+1+{{screenDetails.premiumrow}}) {
                                    var t = document.createElement("TR");

                                    t.setAttribute("id", "executive");
                                    t.className = "text-center";
                                    document.getElementById("seatsBlock").appendChild(t);
                                    $('#executive').html("EXECUTIVE");
                                } else if (j == {{screenDetails.viprow}}+1+{{screenDetails.premiumrow}}+{{screenDetails.executiverow}}) {
                                    var normal = document.createElement("TR");

                                    normal.setAttribute("id", "normal");
                                    document.getElementById("seatsBlock").appendChild(normal);
                                    $('#normal').html("NORMAl");
                                }

                                //create vertical space
                                var tr = document.createElement("TR");
                                tr.setAttribute("id", "i" + j);
                                document.getElementById("seatsBlock").appendChild(tr);
                                letter = toLetters(j)
                                $('#i' + j).html(letter);

                                //create td
                                for (var i = 1; i <= {{screenDetails.vipcol}}; i++) {

                                    var tdId = count + 1
                                    if (i == 6) {
                                        var td = document.createElement("TD");
                                        document.getElementById("i" + j).appendChild(td);
                                    }
                                    var td = document.createElement("TD");
                                    td.setAttribute("id", tdId);
                                    document.getElementById("i" + j).appendChild(td);

                                    //create checkbox
                                    var checkboxs = document.createElement("INPUT");
                                    checkboxs.setAttribute("type", "checkbox");
                                    checkboxs.setAttribute("id", letter + i);
                                    checkboxs.setAttribute("name", letter + i);
                                    document.getElementById(tdId).appendChild(checkboxs);
                                    
                                    {{!-- document.getElementById(letter + i).checked = true; --}}
                                    //set price to each categot
                                    if(j<4){
                                        $("#" +letter + i).val({{showDeatils.vip}});
                                    }else if(j<6){
                                        $("#" + letter + i).val({{showDeatils.premium}});
                                    }else if(j<8){
                                        $("#" + letter + i).val({{showDeatils.executive}});
                                    }else if(j>=8){
                                        $("#" + letter + i).val({{showDeatils.normal}});
                                    }
                                    
                                    count++;

                                }
                            }
                          
                        }
                    </script>
                    
                </table>
                <div style="margin-left: 168px; width: 50%;" class="screen">
                    <h2 class="wthree">Screen this way</h2>
                </div>
            </div>
            <button type="submit" class="ml-auto  btn btn-success">continue</button>
                </form>
           
            
            <!-- //seat layout -->
            <!-- details after booking displayed here -->
            <div class="displayerBoxes txt-center" style="overflow-x:auto;">
                <table class="Displaytable w3ls-table" width="100%">
                    <tr>
                        <th>Name</th>
                        <th>Number of Seats</th>
                        <th>Seats</th>
                    </tr>
                    <tr>
                        <td>
                            <textarea id="nameDisplay"></textarea>
                        </td>
                        <td>
                            <textarea id="NumberDisplay"></textarea>
                        </td>
                        <td>
                            <textarea id="seatsDisplay"></textarea>
                        </td>
                    </tr>
                </table>
            </div>
            <!-- //details after booking displayed here -->
        </div>
    </div>


    
    {{>user-footer}}
    </div>
    <!-- js -->
    <script src="/seat/js/jquery-2.2.3.min.js"></script>
    <!-- //js -->
    <!-- script for seat selection -->
    <script>
        

        document.getElementById("myCheck").disabled = true;
        {{!-- function onLoadderFunc() {
            $(".seatStructure *").prop("disabled", true);
            $(".displayerBoxes *").prop("disabled", true);
        }

        function takeData() {

            if (($("#Username").val().length == 0) || ($("#Numseats").val().length == 0)) {
                alert("Please Enter your Name and Number of Seats");
            } else {
                $(".inputForm *").prop("disabled", true);
                $(".seatStructure *").prop("disabled", false);
                document.getElementById("notification").innerHTML =
                    "<b style='margin-bottom:0px;background:#ff9800;letter-spacing:1px;'>Please Select your Seats NOW!</b>";
            }
            $(".inputForm *").prop("disabled", true);
            $(".seatStructure *").prop("disabled", false);
        } --}}


        function updateTextArea() {

            if ($("input:checked").length == ($("#Numseats").val())) {
                $(".seatStructure *").prop("disabled", true);

                var allNameVals = [];
                var allNumberVals = [];
                var allSeatsVals = [];

                //Storing in Array
                allNameVals.push($("#Username").val());
                allNumberVals.push($("#Numseats").val());
                $('#seatsBlock :checked').each(function () {
                    allSeatsVals.push($(this).val());
                });

                //Displaying 
                $('#nameDisplay').val(allNameVals);
                $('#NumberDisplay').val(allNumberVals);
                $('#seatsDisplay').val(allSeatsVals);
            } else {
                alert("Please select " + ($("#Numseats").val()) + " seats")
            }
        }


        function myFunction() {
            alert($("input:checked").length);
        }

        /*
        function getCookie(cname) {
            var name = cname + "=";
            var ca = document.cookie.split(';');
            for(var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }
        */


        $(":checkbox").click(function () {
            if ($("input:checked").length == ($("#Numseats").val())) {
                $(":checkbox").prop('disabled', true);
                $(':checked').prop('disabled', false);
            } else {
                $(":checkbox").prop('disabled', false);
            }
        });
    </script>
    <!-- //script for seat selection -->

</body>
<script>

    myFunctions() 
</script>


{{!-- //disabling booked seats --}}
{{#each showDeatils.bookedseats}}
                    <script>
                        document.getElementById("{{this.seatName}}").disabled = true;
                    </script>
{{/each}}

                                    >
</html>